@font-face {
  font-family: 'Smart';
  src: url('./fonts/smart_9_v2.1/Smart9.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rude';
  src: url('./fonts/rude_11_v3/Rude11.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glitch Slap';
  src: url('./fonts/glitch_slap/GlitchSlap.otf') format('opentype');
}

@font-face {
  font-family: 'Supermarketed';
  src: url('./fonts/supermarketed/Supermarketed.otf') format('opentype');
}

@font-face {
  font-family: 'Danger on the Motorway';
  src: url('./fonts/danger_on_the_motorway/Danger_on_the_Motorway.otf') format('opentype');
}